<h1>Nota<small>Nombre de nota</small></h1>

<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/notas">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
    </div>
</div>


<div class="row animated fadeIn faster">
    <div>
        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="mt-5 form-group">
                <label class="form-label">Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" name="id" [(ngModel)]="nota.id">
                <div id="emailHelp" class="form-text text-muted">We'll never share your ID with anyone else.</div>
            </div>

            <div class="form-group">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre de nota" required name="nombre" [(ngModel)]="nota.nombre">
            </div>

            <div class="form-group">
                <label class="form-label">Nota</label>
                <input type="text" class="form-control" placeholder="Detalles de nota" required name="nota" [(ngModel)]="nota.nota">
            </div>

            <div class="form-group">
                <label class="form-label">Herramienta</label>
                <input type="text" class="form-control" name="Herramienta" [(ngModel)]="nota.herramienta">
            </div>

            <div class="form-group">
                <label class="form-label">GoogleNotes </label>
                <br>
                <button *ngIf="nota.googleNotes" (click)="nota.googleNotes=false" class="btn btn-outline-success w-50" type="button">
                  <i class="fab fa-google-drive"></i>
                  GoogleNotes
                </button>

                <button *ngIf="!nota.googleNotes" (click)="nota.googleNotes=true" class="btn btn-outline-danger w-50" type="button">
                  <i class="fab fa-google-drive"></i>
                  GoogleNotes
                </button>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary mt-5 w-25">
                  <i class="fab fa-aws"></i> Submit</button>
            </div>


        </form>
    </div>

</div>
